.locker18back-icon {
  position: absolute;
  top: 260px;
  left: 0;
  width: 1917px;
  height: 879px;
  object-fit: cover;
}
.taekwondo5 {
  position: relative;
  font-weight: 900;
  text-shadow: 4px 0 0#000, 0 4px 0#000, -4px 0 0#000, 0-4px 0#000;
}
.taekwondotopic {
  position: absolute;
  top: 322px;
  left: calc(50% - 219.5px);
  border-radius: var(--br-lgi);
  background-color: var(--color-dimgray-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl) 0;
  font-size: var(--font-size-46xl);
}
.boxing-mat1,
.equipments16,
.locker-18 {
  position: absolute;
  top: 274px;
  left: 23px;
  font-weight: 900;
  text-shadow: 2px 0 0#000, 0 2px 0#000, -2px 0 0#000, 0-2px 0#000;
}
.boxing-mat1,
.equipments16 {
  top: 453px;
  left: 384px;
  font-size: var(--font-size-31xl);
}
.boxing-mat1 {
  left: 1293px;
}
.available-number-of23,
.available-number-of24,
.today-available-times15 {
  position: absolute;
  top: 552px;
  left: 313px;
  font-size: var(--font-size-16xl);
  font-weight: 900;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.available-number-of24,
.today-available-times15 {
  top: 739px;
  left: 267px;
}
.today-available-times15 {
  top: 552px;
  left: 1243px;
}
.div23 {
  position: relative;
  font-weight: 900;
}
.bacsketballsavailable23 {
  top: 626px;
  left: 462px;
  background-color: var(--color-white);
  width: 92px;
  height: 79px;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xs) var(--padding-6xs);
  color: var(--color-black);
}
.bacsketballsavailable23,
.bacsketballsavailable24,
.courttimeslots29,
.courttimeslots30 {
  position: absolute;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bacsketballsavailable24 {
  top: 820px;
  left: 462px;
  background-color: var(--color-white);
  width: 92px;
  height: 78px;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xs) var(--padding-6xs);
  color: var(--color-black);
}
.courttimeslots29,
.courttimeslots30 {
  top: 648px;
  left: 1143px;
  background-color: var(--color-gray-400);
  width: 559px;
  height: 380px;
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-6xl);
}
.courttimeslots30 {
  top: 961px;
  left: 238px;
  height: 124px;
}
.taekwondodiscription1 {
  position: absolute;
  top: 1336px;
  left: calc(50% - 790.5px);
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  width: 1582px;
  height: 150px;
}
.form-practice-engage {
  margin: 0;
}
.taekwondodiscription2 {
  position: absolute;
  top: 2556px;
  left: calc(50% - 768.5px);
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
  width: 1537px;
  height: 574px;
}
.schedule16 {
  position: relative;
}
.dates15,
.times15 {
  position: absolute;
  top: 22px;
  left: 152px;
}
.times15 {
  left: 613px;
}
.border-icon75,
.event-description15 {
  position: absolute;
  top: 22px;
  left: 1095px;
}
.border-icon75 {
  left: 428px;
  max-width: 100%;
  overflow: hidden;
  height: 638px;
}
.border-icon76,
.border-icon77,
.border-icon78 {
  position: absolute;
  top: 102px;
  left: 22px;
  max-height: 100%;
  width: 387.5px;
}
.border-icon77,
.border-icon78 {
  left: 460px;
}
.border-icon78 {
  left: 958px;
  width: 551px;
}
.border-icon79 {
  position: absolute;
  top: 22px;
  left: 918.9px;
  width: 2.1px;
  height: 638px;
  object-fit: contain;
}
.am-4oo30,
.am-4oo31,
.monday15,
.tuesday15 {
  position: absolute;
  top: 179px;
  left: 127px;
  display: inline-block;
  width: 177px;
  height: 53px;
}
.am-4oo30,
.am-4oo31,
.tuesday15 {
  left: 501px;
  width: 371px;
}
.am-4oo31,
.tuesday15 {
  top: 288px;
}
.tuesday15 {
  left: 127px;
  width: 177px;
}
.practices30,
.practices31 {
  position: absolute;
  top: 179px;
  left: 1149px;
}
.practices31 {
  top: 288px;
}
.updatebutton {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: var(--font-inika);
  font-size: var(--font-size-xl);
  background-color: var(--color-darkgray-100);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  color: var(--color-black);
}
.dateinput31,
.timeinput15 {
  position: absolute;
  top: 557px;
  background-color: var(--color-gainsboro-100);
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dateinput31 {
  left: 46px;
  width: 343px;
  overflow: hidden;
  padding: var(--padding-mid) var(--padding-13xl) var(--padding-mid)
    var(--padding-193xl);
  box-sizing: border-box;
}
.timeinput15 {
  left: 501px;
  width: 371px;
  padding: var(--padding-mid) var(--padding-13xl) var(--padding-mid)
    var(--padding-210xl);
}
.dateinput32,
.scheduletable15,
.timeinput15 {
  box-sizing: border-box;
  overflow: hidden;
}
.dateinput32 {
  position: absolute;
  top: 557px;
  left: 982px;
  background-color: var(--color-gainsboro-100);
  width: 496px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-13xl) var(--padding-mid)
    var(--padding-320xl);
}
.scheduletable15 {
  width: 1550px;
  position: relative;
  border: 1px solid var(--color-black);
  height: 689px;
  flex-shrink: 0;
  font-size: var(--font-size-22xl);
}
.sheduletable15 {
  position: absolute;
  top: 1580px;
  left: 184px;
  width: 1547px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-60xl);
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.taekwondo4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-arima-madurai);
}
.bookingbutton1{
  position: absolute;
  left: 754px;
  top: 1118px;

}