.locker13back-icon {
  position: absolute;
  top: 260px;
  left: 0;
  width: 1917px;
  height: 879px;
  object-fit: cover;
}
.tennis5 {
  position: relative;
  font-weight: 900;
  text-shadow: 4px 0 0#000, 0 4px 0#000, -4px 0 0#000, 0-4px 0#000;
}
.tennistopic {
  position: absolute;
  top: 322px;
  left: calc(50% - 134.5px);
  border-radius: var(--br-lgi);
  background-color: var(--color-dimgray-600);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl) 0;
  font-size: var(--font-size-46xl);
}
.court10,
.equipments11,
.locker-13 {
  position: absolute;
  top: 274px;
  left: 23px;
  font-weight: 900;
  text-shadow: 2px 0 0#000, 0 2px 0#000, -2px 0 0#000, 0-2px 0#000;
}
.court10,
.equipments11 {
  top: 453px;
  left: 384px;
  font-size: var(--font-size-31xl);
}
.court10 {
  top: 455px;
  left: 1328px;
}
.available-number-of15,
.available-number-of16,
.today-available-times10 {
  position: absolute;
  top: 552px;
  left: 302px;
  font-size: var(--font-size-16xl);
  font-weight: 900;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.available-number-of16,
.today-available-times10 {
  top: 734px;
  left: 288px;
}
.today-available-times10 {
  top: 552px;
  left: 1243px;
}
.div15 {
  position: relative;
  font-weight: 900;
}
.bacsketballsavailable15 {
  top: 626px;
  left: 462px;
  background-color: var(--color-white);
  width: 92px;
  height: 79px;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xs) var(--padding-6xs);
  color: var(--color-black);
}
.bacsketballsavailable15,
.bacsketballsavailable16,
.courttimeslots20,
.courttimeslots21 {
  position: absolute;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bacsketballsavailable16 {
  top: 820px;
  left: 472px;
  background-color: var(--color-white);
  width: 92px;
  height: 79px;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-xs) var(--padding-6xs);
  color: var(--color-black);
}
.courttimeslots20,
.courttimeslots21 {
  top: 648px;
  left: 1161px;
  background-color: var(--color-gray-400);
  width: 559px;
  height: 380px;
  flex-direction: row;
  padding: var(--padding-3xs);
  font-size: var(--font-size-6xl);
}
.courttimeslots21 {
  top: 939px;
  left: 263px;
  height: 120px;
}
.tennisdiscription1 {
  position: absolute;
  top: 1332px;
  left: calc(50% - 785.5px);
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-family: var(--font-inria-serif);
  color: var(--color-black);
  text-align: center;
  width: 1582px;
  height: 150px;
}
.match-play-engage {
  margin: 0;
}
.tennisdiscription2 {
  position: absolute;
  top: 2556px;
  left: calc(50% - 748.5px);
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: justify;
  display: inline-block;
  width: 1537px;
  height: 719px;
}
.schedule11 {
  position: relative;
}
.dates10,
.times10 {
  position: absolute;
  top: 22px;
  left: 152px;
}
.times10 {
  left: 613px;
}
.border-icon50,
.event-description10 {
  position: absolute;
  top: 22px;
  left: 1095px;
}
.border-icon50 {
  left: 428px;
  max-width: 100%;
  overflow: hidden;
  height: 638px;
}
.border-icon51,
.border-icon52,
.border-icon53 {
  position: absolute;
  top: 102px;
  left: 22px;
  max-height: 100%;
  width: 387.5px;
}
.border-icon52,
.border-icon53 {
  left: 460px;
}
.border-icon53 {
  left: 958px;
  width: 551px;
}
.border-icon54 {
  position: absolute;
  top: 22px;
  left: 918.9px;
  width: 2.1px;
  height: 638px;
  object-fit: contain;
}
.am-4oo20,
.am-4oo21,
.monday10,
.tuesday10 {
  position: absolute;
  top: 179px;
  left: 127px;
  display: inline-block;
  width: 177px;
  height: 53px;
}
.am-4oo20,
.am-4oo21,
.tuesday10 {
  left: 501px;
  width: 371px;
}
.am-4oo21,
.tuesday10 {
  top: 288px;
}
.tuesday10 {
  left: 127px;
  width: 177px;
}
.practices20,
.practices21 {
  position: absolute;
  top: 179px;
  left: 1149px;
}
.practices21 {
  top: 288px;
}
.updatebutton {
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: var(--font-inika);
  font-size: var(--font-size-xl);
  background-color: var(--color-darkgray-100);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  color: var(--color-black);
}
.dateinput21,
.timeinput10 {
  position: absolute;
  top: 557px;
  background-color: var(--color-gainsboro-100);
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.dateinput21 {
  left: 46px;
  width: 343px;
  overflow: hidden;
  padding: var(--padding-mid) var(--padding-13xl) var(--padding-mid)
    var(--padding-193xl);
  box-sizing: border-box;
}
.timeinput10 {
  left: 501px;
  width: 371px;
  padding: var(--padding-mid) var(--padding-13xl) var(--padding-mid)
    var(--padding-210xl);
}
.dateinput22,
.scheduletable10,
.timeinput10 {
  box-sizing: border-box;
  overflow: hidden;
}
.dateinput22 {
  position: absolute;
  top: 557px;
  left: 982px;
  background-color: var(--color-gainsboro-100);
  width: 496px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-13xl) var(--padding-mid)
    var(--padding-320xl);
}
.scheduletable10 {
  width: 1550px;
  position: relative;
  border: 1px solid var(--color-black);
  height: 689px;
  flex-shrink: 0;
  font-size: var(--font-size-22xl);
}
.sheduletable10 {
  position: absolute;
  top: 1580px;
  left: 184px;
  width: 1547px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-60xl);
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.tennis4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
  font-family: var(--font-arima-madurai);
}
.bookingbutton1{
  position: absolute;
  left: 754px;
  top: 1118px;

}