.bookimg-icon {
  width: 390px;
  position: relative;
  border-radius: var(--br-97xl);
  height: 144px;
  object-fit: cover;
}
.bookbuttonlarge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  cursor: pointer;
}
